<!-- breadcrumb_section - start
			================================================== -->
<section class="breadcrumb_section d-flex align-items-center clearfix"
    data-background="{{page.cover_img | relative_url }}">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
                <h1 class="page_title mb-0">{{page.title}}</h1>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
                <ul class="breadcrumb_nav ul_li_right clearfix">
                    <li><a href="{{'/' | relative_url }}">Home</a></li>
                    <li>{{page.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb_section - end
                ================================================== -->