<!-- cta_section - start
			================================================== -->
<section class="cta_section sec_ptb_130 bg_default_blue clearfix">
    <div class="container">
        <div
            class="row align-items-center justify-content-lg-between justify-content-md-center justify-content-sm-center">

            <div class="col-lg-6 col-md-7 col-sm-9 col-xs-12 order-last">
                <div class="cta_image_1 wow fadeInUp2" data-wow-delay=".1s">
                    <img src="{{'/assets/images/cta/img_01.jpg' | relative_url }}" alt="image_not_found">
                </div>
            </div>

            <div class="col-lg-6 col-md-7 col-sm-9 col-xs-12">
                <div class="cta_content text-white">
                    <div class="section_title mb_30 wow fadeInUp2" data-wow-delay=".3s">

                        <h2 class="big_title mb-0 text-white">
                            Always Ready To Print Your Dream Works
                        </h2>
                        <span class="biggest_title">Quote</span>
                    </div>
                    <p class="mb_30 border_left_yellow">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                        architecto beatae vitae dicta sunt explicabo
                    </p>
                    <a class="custom_btn bg_default_orange" target="_blank" href="{{'/contact' | relative_url}}">
                        contact us
                        <span><i class="fal fa-arrow-right"></i></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- cta_section - end
                    ================================================== -->