---
layout: default
---

<!-- main body - start
		================================================== -->
<main>


    {% include mobile-menu.html %}

    <!-- breadcrumb_section - start
			================================================== -->
    <section class="breadcrumb_section d-flex align-items-center clearfix"
        data-background="{{page.img_src | relative_url }}">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInLeft" data-wow-delay=".1s">
                    <h1 class="page_title mb-0">{{page.title}}</h1>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 wow fadeInRight" data-wow-delay=".1s">
                    <ul class="breadcrumb_nav ul_li_right clearfix">
                        <li><a href="{{'/' | relative_url }}">Home</a></li>
                        <li>{{page.title}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb_section - end
            ================================================== -->

    <!-- details_section - start
			================================================== -->
    <section class="details_section service_details sec_ptb_130 bg_gray clearfix">
        <div class="container">
            <div class="row justify-content-lg-between justify-content-md-center justify-content-sm-center">

                <div class="col-lg-8 col-md-8">
                    {{page.content}}
                </div>

                <div class="col-lg-4 col-md-8">
                    <aside class="sidebar_section clearfix">

                        <div class="widget wow fadeInUp2 sb_service_category" data-wow-delay=".1s">
                            <ul class="ul_li_block clearfix">
                                {% for service in site.services %}
                                    {% if service.service_id != page.service_id %}
                                        <li><a href="{{service.url | relative_url}}">{{service.title}}</a></li>
                                    {% endif %}
                                {% endfor %}
                            </ul>   
                        </div>

                        <div class="widget wow fadeInUp2 sb_download_btns clearfix" data-wow-delay=".1s">
                            <div class="btns_group clearfix">
                                <ul class="ul_li_block clearfix">
                                    <li>
                                        <a class="custom_btn bg_default_orange" href="{{page.word_file_url | relative_url }}">
                                            download word file
                                            <span><i class="fal fa-arrow-right"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="custom_btn bg-dark" href="{{page.pdf_file_url | relative_url }}">
                                            download PDF file
                                            <span><i class="fal fa-arrow-right"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="widget wow fadeInUp2 sb_banner p-0 clearfix" data-wow-delay=".1s">
                            <img src="{{'/assets/images/sidebar/banner/img_01.jpg' | relative_url }}" alt="image_not_found">
                        </div>

                    </aside>
                </div>

            </div>
        </div>
    </section>
    <!-- details_section - end
			================================================== -->


    {% include cta-section.html %}




</main>
<!-- main body - end
		================================================== -->